{% extends "layout.html" %}
{% block body %}

<div class="register_conteiner">
    <label for="username"><b>Enter your username:</b></label>
    <input type="text" placeholder="" name="username" required>
    <label for="email"><b>Enter your email:</b></label>
    <input type="text" placeholder="" name="email" required>
    <label for="password"><b>Enter your password:</b></label>
    <input type="password" placeholder="" name="password" required>
    <button>Submit</button>

</div>

{% endblock %}
